.jeremiah {
  width: 674px;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 674px auto;
  background-image: url(/assets/image/body.png);
  margin: 0 auto;
  position: relative;
}

.jeremiah__face {
  width: 674px;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 674px auto;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/assets/image/face_hair.png);
  transform-origin: 382px 200px;
  animation: faceAnime 4s ease 0s infinite;
}

@keyframes faceAnime {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  55% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.jeremiah__eyebrow {
  width: 674px;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 674px auto;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/assets/image/eyebrow_nose.png);
  transform-origin: 382px 200px;
  animation: eyebrowAnime 4s ease 0s infinite;
}

@keyframes eyebrowAnime {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  55% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.jeremiah__eye {
  width: 674px;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 674px auto;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/assets/image/eye_default.png);
  position: absolute;
  transform-origin: 382px 200px;
  animation: eyeAnime 4s ease 0s infinite;
}

@keyframes eyeAnime {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  55% {
    transform: rotate(1deg);
  }
  60% {
    background-image: url(/assets/image/eye_half.png);
  }
  80% {
    background-image: url(/assets/image/eye_close.png);
  }
  100% {
    transform: rotate(0deg);
  }
}

.jeremiah__mouth {
  width: 674px;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 674px auto;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/assets/image/mouth.png);
  transform-origin: 382px 200px;
  animation: mouthAnime 4s ease 0s infinite;
}

@keyframes mouthAnime {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  55% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.jeremiah__bangs {
  width: 674px;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 674px auto;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/assets/image/bangs.png);
  transform-origin: 382px 200px;
  animation: bangsAnime 4s ease 0s infinite;
}

@keyframes bangsAnime {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  55% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.jeremiah__cloak {
  width: 674px;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 674px auto;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/assets/image/cloak.png);
  transform-origin: 382px 200px;
}

@keyframes cloakAnime {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-1deg);
  }
  55% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.jeremiah__feather {
  width: 674px;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 674px auto;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/assets/image/feather.png);
  transform-origin: 382px 200px;
}

@keyframes featherAnime {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  55% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
